body {
  background-color: #F0F0F0;
  display: flex;
  justify-content: center;
}

.box {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.title {
  color: #ff6a28;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}

.sub-title {
    margin-top: 8px;
    font-size: 16px;
    color: #61656D;
}

.image {
  width: 745px;
  height: 389px;
  margin-top: 14px ;
}

.info-box {
    width: 118px;
    height: 85px;
    background-color: #F0F0F0;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 14px;
}

.member-box {
  width: 238px;
  height: 85px;
  background-color: #F0F0F0;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  
}

.info-member-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.info-strong-text {
  color: #ff6a28;
}

.icon-image {
  margin-bottom: 5px;
}

.info-row {
  display: flex;
  justify-content: space-between;
}